In [3]:
t = (2, 4)

In [4]:
print(t[2])

IndexError: tuple index out of range

wartości t są przypisywane od 0, więc 2 jest poza zakresem

In [5]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

nie można zastosować funkcji append dla obiektu t

In [6]:
a, b = t ; print(a, b)

2 4

do zmiennych a i b przypisujemy wartości z t i je wypisujemy