Import biblioteki

In [42]:
import pandas

definicja struktury listy książek/filmów/piosenek

In [43]:
media = pandas.DataFrame(columns=['Title', 'Author', 'Year', 'Type', 'Rating', 'Lenght', 'Comment'])

**funkcja** - wypisz całą zawartość listy

In [44]:
def list_items(lista):
    print("Wszystkie pozycje:")
    print(lista)

**użycie** - wypisanie zawartości

In [45]:
list_items(media)

Wszystkie pozycje:
Empty DataFrame
Columns: [Title, Author, Year, Type, Rating, Lenght, Comment]
Index: []

**funkcja** - dodaj nową pozycję

In [46]:
def insert_item(lista, title, author, year, typeOf, rating, lenght, comment):
    new_entry = {'Title': title, 'Author': author, 'Year': year, 'Type': typeOf, 'Rating' : rating, 'Lenght' : lenght, 'Comment': comment}
    lista = pandas.concat([lista, pandas.DataFrame([new_entry])], ignore_index=True)
    return lista

**użycie** - dodanie nowych pozycji

In [47]:
media = insert_item(media,"Zabić drozda ","Harper Lee", "1960", "Fikcja", "4.8", "281", " ")
media = insert_item(media,"Rozważna i romantyczna", "Jane Austen", "1813", "Romans", "8.9", "432", " ")
media = insert_item(media,"Igrzyska Śmierci", "Suzanne Collins", "2008", "Science fiction", "8.2", "374", " ")
media = insert_item(media,"1984", "George Orwell", "1949", "Dystopia", "9.0", "328", " ")
media = insert_item(media,"Skazani na Shawshank", "Stephen King", "1982", "Literatura obyczajowa/nowela", "8.1", "130", " ")
#media = insert_item(media,"")

list_items(media)

Wszystkie pozycje:
                    Title           Author  Year  \
0           Zabić drozda        Harper Lee  1960
1  Rozważna i romantyczna      Jane Austen  1813
2        Igrzyska Śmierci  Suzanne Collins  2008
3                    1984    George Orwell  1949
4    Skazani na Shawshank     Stephen King  1982

                           Type Rating Lenght Comment
0                        Fikcja    4.8    281
1                        Romans    8.9    432
2               Science fiction    8.2    374
3                      Dystopia    9.0    328
4  Literatura obyczajowa/nowela    8.1    130

**funkcja** - usuń rekord na podstawie tytułu

In [48]:
def remove_item(lista, title, author):

    if title is None and author is None:
        raise ValueError("Musisz podać tytuł lub autora do usunięcia.")


    if title is not None:
        lista = lista[lista['Title'] != title]

    if author is not None:
        lista = lista[lista['Author'] != author]

    # Zwracanie zaktualizowanego DataFrame
    return lista

**użycie** - usunięcie wpisu

In [49]:
media = remove_item(media,'Zabić drozda', 'Harper Lee')

list_items(media)

Wszystkie pozycje:
                    Title           Author  Year  \
1  Rozważna i romantyczna      Jane Austen  1813
2        Igrzyska Śmierci  Suzanne Collins  2008
3                    1984    George Orwell  1949
4    Skazani na Shawshank     Stephen King  1982

                           Type Rating Lenght Comment
1                        Romans    8.9    432
2               Science fiction    8.2    374
3                      Dystopia    9.0    328
4  Literatura obyczajowa/nowela    8.1    130

**funkcja** - wyszukaj po tytule

In [50]:
def search_item(lista, title):
    results = lista[lista['Title'].str.contains(title, case=False, na=False)]
    if results.empty:
        print(f"Nie znaleziono nic o tytule: '{title}'")
    else:
        print(f"Wyniki wyszukiwania po tytule '{title}':")
        print(results)

In [51]:
search_item(media, 'Igrzyska Śmierci')
search_item(media, 'Zabić drozda')

Wyniki wyszukiwania po tytule 'Igrzyska Śmierci':
              Title           Author  Year             Type Rating Lenght  \
2  Igrzyska Śmierci  Suzanne Collins  2008  Science fiction    8.2    374

  Comment
2
Nie znaleziono nic o tytule: 'Zabić drozda'

**funkcja** - zapisz w pliku (JSON lub CSV)

In [52]:
def save_to_file(lista, filename, filetype='csv'):
    if filetype == 'csv':
        lista.to_csv(filename, index=False)
    elif filetype == 'json':
        lista.to_json(filename, orient='records', lines=True)
    print(f"Zapisano jako {filename}")

In [53]:
save_to_file(media, 'database.csv', filetype='csv')
save_to_file(media, 'database.json', filetype='json')

Zapisano jako database.csv
Zapisano jako database.json

In [54]:
def clear_database(lista):
    lista = pandas.DataFrame(columns=['Title', 'Author', 'Year', 'Type', 'Rating', 'Lenght', 'Comment'])
    return lista

In [55]:
list_items(media)

Wszystkie pozycje:
                    Title           Author  Year  \
1  Rozważna i romantyczna      Jane Austen  1813
2        Igrzyska Śmierci  Suzanne Collins  2008
3                    1984    George Orwell  1949
4    Skazani na Shawshank     Stephen King  1982

                           Type Rating Lenght Comment
1                        Romans    8.9    432
2               Science fiction    8.2    374
3                      Dystopia    9.0    328
4  Literatura obyczajowa/nowela    8.1    130

In [56]:
media = clear_database(media)
list_items(media)

Wszystkie pozycje:
Empty DataFrame
Columns: [Title, Author, Year, Type, Rating, Lenght, Comment]
Index: []

**funkcja** - załaduj dane do bazy na podstawie pliku (JSON lub CSV)

In [57]:
def load_from_file(filename, filetype='csv'):
    if filetype == 'csv':
        lista = pandas.read_csv(filename)
    elif filetype == 'json':
        lista = pandas.read_json(filename, orient='records', lines=True)
    print(f"Odczytano dane z {filename}")
    return lista

In [58]:
media = load_from_file(filename='database.csv', filetype='csv')
list_items(media)
media = clear_database(media)

Odczytano dane z database.csv
Wszystkie pozycje:
                    Title           Author  Year  \
0  Rozważna i romantyczna      Jane Austen  1813
1        Igrzyska Śmierci  Suzanne Collins  2008
2                    1984    George Orwell  1949
3    Skazani na Shawshank     Stephen King  1982

                           Type  Rating  Lenght Comment
0                        Romans     8.9     432
1               Science fiction     8.2     374
2                      Dystopia     9.0     328
3  Literatura obyczajowa/nowela     8.1     130

In [59]:
list_items(media)

Wszystkie pozycje:
Empty DataFrame
Columns: [Title, Author, Year, Type, Rating, Lenght, Comment]
Index: []

In [60]:
media = load_from_file(filename='database.json', filetype='json')
list_items(media)

Odczytano dane z database.json
Wszystkie pozycje:
                    Title           Author  Year  \
0  Rozważna i romantyczna      Jane Austen  1813
1        Igrzyska Śmierci  Suzanne Collins  2008
2                    1984    George Orwell  1949
3    Skazani na Shawshank     Stephen King  1982

                           Type  Rating  Lenght Comment
0                        Romans     8.9     432
1               Science fiction     8.2     374
2                      Dystopia     9.0     328
3  Literatura obyczajowa/nowela     8.1     130

In [61]:
while True:
    print("\nMenu:")
    print("1. Wyświetl wszystkie elementy")
    print("2. Dodaj nowy element")
    print("3. Usuń element")
    print("4. Wyszukaj element")
    print("5. Zapisz do pliku")
    print("6. Wyczyść bazę danych")
    print("7. Wczytaj z pliku")
    print("8. Wyjdź")

    choice = input("Wybierz opcję (1-8): ")
    match choice:
      case '1':
          list_items(media)

      case '2':
          title = input("Podaj tytuł: ")
          author = input("Podaj autora: ")
          year = input("Podaj rok: ")
          typeOf = input("Podaj typ (książka, film, piosenka): ")
          rating = input("Podaj ocenę: ")
          lenght = input("Podaj długość: ")
          comment = input("Podaj komentarz: ")
          media = insert_item(media, title, author, year, typeOf, rating, lenght, comment)
          print("Dodano nowy element.")

      case '3':
          title = input("Podaj tytuł do usunięcia (lub zostaw puste): ")
          author = input("Podaj autora do usunięcia (lub zostaw puste): ")
          media = remove_item(media, title, author)
          print("Element został usunięty.")

      case '4':
          search_item(media, input("Podaj tytuł do wyszukania: "))

      case '5':
          filename = input("Podaj nazwę pliku: ")
          filetype = input("Podaj typ pliku (csv/json): ").lower()
          save_to_file(media, filename+"."+filetype, filetype)
          print(f"Baza danych została zapisana do pliku {filename}.")

      case '6':
          media = clear_database(media)
          print("Baza danych została wyczyszczona.")

      case '7':
          filename = input("Podaj nazwę pliku do wczytania: ")
          filetype = input("Podaj typ pliku (csv/json): ").lower()
          media = load_from_file(filename, filetype)
          print(f"Baza danych została wczytana z pliku {filename}.")

      case '8':
          print("Do widzenia!")
          break

      case _:
          print("Niepoprawna opcja. Spróbuj ponownie.")

Menu:
1. Wyświetl wszystkie elementy
2. Dodaj nowy element
3. Usuń element
4. Wyszukaj element
5. Zapisz do pliku
6. Wyczyść bazę danych
7. Wczytaj z pliku
8. Wyjdź
Wybierz opcję (1-8): 8
Do widzenia!